body{
    box-sizing: border-box;
    display: block;
    height: 90px;
    margin: 0;
    padding: 0;
    background:url(.//paisaje-juego-plantas-tropicales_105738-375.webp) no-repeat fixed ;
    max-width: 500px;
}


.poster figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(87, 2, 2, 0.7);
    transition: all 800ms ease-out;
    opacity: 0;
    visibility: visible;
    text-align: center;
}
.img-dino{
    position: relative;
    width: 722px;
    height: 160px;
    padding: 4px;
    box-shadow: 0 50px 90px rgb(5, 54, 3); 
    background-color: rgba(0, 0, 0, 0.6);
    left: 469px;
    bottom:135px;
    border-radius: 5px;
    
}


.poster{
    position: relative;
    left:400px;
    height: 400px;
    bottom: 5px;
    box-sizing: border-box;
    width: 500px;
    margin: 0;
    padding: 0;
    top: 90px;
    margin-left: auto;
    margin-right: auto;
}
.poster .posterr{
    position: relative;
    left: 0px;
    height: 1000px;
    bottom: 0px;
    min-width: 300px;
    max-width: 800px;
    border-radius: 6px;
    box-sizing: border-box;
    width:1000px;
    transition: all 800ms ease-out;
    
}
figure{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;
    right: 200px;
}
.poster figure .posterr{
    width: 100%;
    height: 100%;
    transition: all 800ms ease-out;
}
.poster figure:hover> .capa{
    opacity: 1;
    visibility: visible;
}
.poster figure .capa h2{
    color: #fff;
    font-weight: 400;
    margin-bottom: 50px;
    transition: all 800ms ease-out;
    margin-top: 10px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}
.poster figure .capa p{
    color: rgb(14, 165, 165);
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
    font-family: cursive;
}
.poster figure:hover> img{
    transform: scale(1.3);
}
.menu-1 .img-circular{
    position: relative;
    left: 550px;
    top: 100px;
    border-radius: 65px;
}
.posterr{
    height: 2000px;
}
.poster figure .capa p b {
    color: rgb(189, 189, 212);
}
.paso-1{
    position: relative;
    bottom: 480px;
    font-size: 40px;
    color: rgb(206, 206, 206);
    right: 175px;
    background-color: rgb(1, 7, 7);
    height: 50px;
    width: 320px;
    border-radius: 6px;
 
}

